html,body,p
{
	margin:0;
	padding:0
}

.code-line > div > p
{
	display:inline
}

:root
{
	--code-window-background:#1c254f;
	--code-window-border:#e0e0e0;
	--code-nav-button-hover:#303f86;
	--code-nav-close-hover:#e01f09;
	--code-header:#303f86;
	--code-header-file:#121732;
	--code-header-unselected-file:#2a3576;
	--tab-line:#5e637a;
	--code-orange:orange;
	--code-blue:#6f9cdb;
	--code-red:#c64040;
	--code-green:#91df91;
	--code-purple:#824e91;
	--code-white:#e1e1e1;
	--code-grey:#8b8b8b;
	--code-tab:#5e637a
}

.main
{
	height:100vh;
	width:100vw;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#000
}

.code-window
{
	width:90%;
	max-width:28rem;
	height:32rem;
	background:var(--code-window-background);
	border-radius:10px;
	color:#fff;
	font-family:'Space Mono',monospace;
	font-size:16px;
	font-weight:500;
	border:.2rem solid var(--code-window-border);
	text-decoration:none
}

.fade-to-black
{
	animation:fade-out 1s linear 1;
	opacity:0
}

@keyframes fade-out {
	0%
	{
		opacity:1
	}
	
	100%
	{
		opacity:0!important
	}
}

.code-header
{
	height:2rem;
	width:100%;
	max-width:28rem;
	position:relative;
	border-radius:10px 10px 0 0;
	border-bottom:.1rem solid #fff;
	background-color:var(--code-window-background)
}

.code-title
{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center
}

.code-options
{
	position:absolute;
	right:-1px;
	top:0;
	height:2rem;
	display:grid;
	grid-template-columns:33% 33% 33%;
	transition:.5s
}

.code-options > span
{
	height:2rem;
	width:2rem;
	display:flex;
	justify-content:center;
	align-items:center
}

.code-options > span:nth-child(3)
{
	border-radius:0 7px 0 0
}

.code-options > span:hover
{
	background-color:var(--code-nav-button-hover)
}

.code-options > span:nth-child(3):hover
{
	background-color:var(--code-nav-close-hover)
}

.code-files
{
	height:2rem;
	width:100%;
	background-color:var(--code-header);
	display:flex
}

.code-files > div
{
	background-color:var(--code-header-unselected-file)
}

.code-files > div:nth-child(1)
{
	background-color:var(--code-header-file)
}

.code-file-name
{
	height:2rem;
	padding:0 1rem;
	display:flex;
	justify-content:center;
	align-items:center
}

.code-content
{
	height:28rem;
	overflow:hidden;
	margin-left:2rem;
	padding-left:.5rem;
	border-left:1px solid var(--code-grey);
	font-size:24px
}

.code-line
{
	display:flex;
	align-items:center;
	overflow:hidden
}

.code-orange
{
	color:var(--code-orange)
}

.code-blue
{
	color:var(--code-blue)
}

.code-red
{
	color:var(--code-red)
}

.code-green
{
	color:var(--code-green)
}

.code-purple
{
	color:var(--code-purple)
}

.code-white
{
	color:var(--code-white)
}

.code-grey
{
	color:var(--code-grey)
}

.code-tab
{
	min-height:24px;
	margin-left:2rem;
	padding-left:.5rem;
	border-left:1px solid var(--code-grey)
}